body{
    background-color: black;
    margin: 0px !important;
}
.contentor-global{
    margin-bottom: 0px;
    padding: 25px;
    padding-top: 30px;
    background-color: rgb(180, 175, 175);
}
.barra-branca{
    background-color: white;
    padding: 15px;
}
.borda{
    border: 1px solid red;
}
.margem-top-10{
    margin-top: 10px;
}
.margem-top-20{
    margin-top: 20px;
}
.btn-config {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 72px;
}
.painel-direito{
    background-color:rgb(150, 150, 150);
    color: green;
}
.Obs{
    color: red;
    font-size: 0.7em;
}
.Obs2{
    color: green;
    font-size: 0.7em;
}
.file{
    font-size: 0.8em;
}
.und{
    text-decoration: underline;
}
#black {
    color: black;
}
#grey{
    color:rgb(133, 131, 131);
}
#gold{
    color: gold;
}
#red{
    color: red;
}
#orange{
    color: orange;
}
#blue{
    color: rgb(62, 62, 238);
}
#green{
    color: green;
}
#lightseagreen{
    color: lightseagreen;
}
.line{
    background-color: aliceblue;
}

