body{
    background-color: black;
    margin-top: 0px !important;
}
.contentor-global{
    margin-bottom: 0px;
    padding: 25px;
    padding-top: 30px;
    background-color: rgb(180, 175, 175);
}
.barra-branca{
    background-color: white;
    padding: 15px;
}
.borda{
    border: 1px solid red;
}
.borda-p-1{
    border: 1px solid rgb(62, 194, 247);
}
.borda-b{
    border: 1px solid black;
}
.borda-g-1{
    border: 3px solid rgb(62, 194, 247);
}
.margem-top-10{
    margin-top: 10px;
}
.margem-top-20{
    margin-top: 20px;
}
.btn-config {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 72px;
}
.painel-direito{
    background-color:rgb(150, 150, 150);
    color: green;
}
.imagem-painel{
    max-height: 600px;
    display: table;
    width: 100%;
    border: 2px solid rgb(62, 194, 247);
}
.espaco-services{
    padding: 20px 0px;
}
.espaco-paineis{
    padding: 15px;
    border: 2px solid rgb(62, 194, 247);
    margin-top: 15px;
    background-color: white;

}
.titulo-painel{
    font-size: 1.2em;
    font-weight: bold;
}
.borda-painel{
    border: 2px solid rgb(62, 194, 247);
}
.conteudo-baixo{
    min-height: 120px;
}
.conteudo-baixo2{
    min-height: 112px;
}
.flex-media{
    font-weight: bold;
    font-size: 1.2em;
}
.cap{
    transform:scale(0.88);
    -webkit-transform:scale(0.88);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
 }
.bordahr{
    border-top: 2px solid green;
}
.Obs{
    color: red;
    font-size: 0.7em;
}
.Obs2{
    color: green;
    font-size: 0.7em;
}
.Obs3{
    color: grey;
    font-style: italic; 
    font-size: 0.8em;
}
.Obs4{
    color: green;
    font-size: 0.8em;
}
.pmtn{
    font-style: none; 
    font-size: 1.0em;
}
.file{
    font-size: 0.8em;
}
.und{
    text-decoration: underline;
}
#black {
    color: black;
}
#grey{
    color:rgb(133, 131, 131);
}
#gold{
    color: gold;
}
#red{
    color: red;
}
#orange{
    color: orange;
}
#blue{
    color: rgb(62, 62, 238);
}
#green{
    color: green;
}
#white{
    color: white;
}
#lightseagreen{
    color: lightseagreen;
}
.line{
    background-color: aliceblue;
}
.shadow{
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);	
}
.shadow-strong{
    box-shadow: 4px 4px 4px rgba(0,0,0,.5);	
}
.altura{
    min-height: 300px;
}
.largura{
    min-width: 200px;
}
.table-padding{
    padding-left: 25px;
    padding-right: 25px;
}
.product-img{
    width: 150px;
    height: 150px;
    font-size: 7.0em;
    padding-top: 20px;
    /* border-right: 1px solid black; */
}
.pdimg-size{
    max-width: 160px;
    max-height: 160px;
}
.borda-produto{
    border: 2px solid black;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);	
}
.borda-produto:hover{
    border: 2px solid green;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
    background-color: aliceblue;
}
.borda-produto-p{
    border: 2px solid red;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);	
}
.borda-produto-p:hover{
    border: 2px solid red;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
    background-color: aliceblue;
}
.prrdiv{
    border-right: 1px solid rgba(128,128,128,.3);
    min-height: 180px;
}
.prldiv{
    border-left: 1px solid rgba(128,128,128,.3);
}
.prbdiv{
    border-bottom: 1px solid rgba(128,128,128,.3);
}
.lnk-info{
    color: blue;
}
.adm-product{
    background-color: beige;
}
.brad{
    border-radius: 0;
}
.brt{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.price{
    font-size: 2.0em;
}
.star{
    position: absolute;
    float: left;
    top: 5px;
    left: 5px;
    font-size: 1.4em;
}
.navbar-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
}