.imagem-painel{
    max-height: 600px;
    display: table;
    width: 100%;
    border: 2px solid rgb(62, 194, 247);
}
/* Quando a tela for menor do que 720px entao a classe sera alterada pelo media query */
@media screen and (max-width: 720px) {
    .imagem-painel{ 
        max-height: 50%;
    }
 }
 @media screen and (max-width: 420px) {
    .imagem-painel{ 
        max-height: 30%;
    }
 }
.espaco-services{
    padding: 20px 0px;
}
.espaco-paineis{
    padding: 15px;
    border: 2px solid rgb(62, 194, 247);
    margin-top: 15px;
    background-color: white;

}
.titulo-painel{
    font-size: 1.2em;
    font-weight: bold;
}
.borda-painel{
    border: 2px solid rgb(62, 194, 247);
}
.conteudo-baixo{
    min-height: 100px;
}
.conteudo-baixo2{
    min-height: 112px;
}