<?php

    //=========================================== CLASSE DE CONFIGURAÇões ===============================================

    return [
        //configurações
        'BD_HOST'        => 'localhost',
        'BD_DATABASE'    => 'Generico',
        'BD_CHARSET'     => 'utf8',
        'BD_USERNAME'    => 'root',
        'BD_PASSWORD'    => '',
        //Variaveis de email
        'MAIL_HOST'         => 'smtp.gmail.com',
        'MAIL_PORT'         => 587,
        'MAIL_USERNAME'     => 'exemplo@gmail.com',
        'MAIL_PASSWORD'     => '*****',
        'MAIL_FROM'         => 'exemplo@gmail.com',
        'MAIL_DEBUG'        => 0,  
        //Endereço base  
        'BASE_URL'          => 'http://localhost:8080/Divulgacao/'
    ]

?>

//Renomear este arquivo para "config.php"